
   .styled-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #fabc3c;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .styled-input:focus {
    border-color: #ffdc73;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 220, 115, 0.6);
  }
  
  .loading {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #fabc3c;
  }
  .btn {
    background-color: #fabc3c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: white;
    border-color: antiquewhite;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-color: #ffdc73;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
  }
  
  .loading {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }

  .top1{
    margin-right: 12px;
  }
  
  .leaflet-routing-container {
    display: none !important;
  }

  .address-inputs{
    display: flex;
    gap: 30px;
  }
  
  